.prehome.ui-dialog {
  min-width: 80%;
  border: 0;
}

.prehome.ui-dialog::before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* --- title / close --- */
.prehome .ui-dialog-title {
  display: none;
}

.prehome.ui-dialog .ui-dialog-titlebar {
  position: absolute;
  top: 1.5rem;
  right: 0.3rem;
  padding: 0;
  background: none;
  border: 0;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .prehome.ui-dialog .ui-dialog-titlebar {
    top: 2rem;
    right: 1rem;
  }
}

/* --- content --- */
.prehome .ui-dialog-content {
  padding: 2rem 2.8rem 0 2rem;
  background: #fff;
}

@media screen and (min-width: 750px) {
  .prehome .ui-dialog-content {
    padding: 5%;
  }
}

.prehome.ui-dialog.ui-widget-content {
  color: currentColor;
  font-family: inherit;
}

.prehome.ui-dialog.ui-widget-content a {
  color: currentColor;
}
