{#
/**
 * @file prehome.html.twig
 * Default theme implementation to present prehome modal.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *          content.field_name to access public fields
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_prehome()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('prehome-content') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
